* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --primary-color: rgb(170, 0, 0);
    --hover-color: rgb(230, 20, 20);
}

html {
    scroll-behavior: smooth;
}

.container {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(./images/bg.jpg);
    background-size: cover;
    background-position: center;
    color: white;
}

nav {
    padding: 0 80px;
    justify-content: space-between;
    display: flex;
    align-items: center;
}


nav ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    position: relative;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
   
}

nav ul li a:hover::after {
    width: 100%;
}

nav img {
    cursor: pointer;
    width: 140px;
}

.text-box {
    margin-top: 140px;
    margin-left: 90px;
    width: 600px;
}

.text-box h1 {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 48px;
}

.text-box p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.text-box button {
    width: 180px;
    margin-top: 24px;
    padding: 6px;
    background-color: var(--primary-color);
    color: white;
    border-radius: 20px;
    font-size: 24px;
    border-style: none;
    cursor: pointer;
    transition: all 0.5s;
}

.text-box button:hover {
    background-color: var(--hover-color);
    transform: scale(1.07);
}

.second {
    padding: 18px 0;
    height: auto;
    background: linear-gradient(rgba(100,0,0,0.2),rgba(1,0,0,0.7));
}

.gallery {
    margin: 20px 20px;
    display: flex;
}

.images {
    height: 500px;
    width: 450px;
    background-color: rgb(206, 206, 206);
    border-radius: 18px;
    padding: 0 10px;
    margin: 0 10px;
}

.images:hover {
    transition: 1.2s;
    position: relative;
    top: -15px;
    cursor: pointer;
}

.images img {
    margin: 10px 0;
    height: 285px;
    width: 400px;
}

.images h3 {
    padding: 8px 0;
    text-align: center;
    border-radius: 10px;
    background-color: var(--primary-color);
    color: #fff;
}

.images h3:hover {
    background-color: var(--hover-color);
    transition: 0.5s;
}

.images p {
    padding: 8px 0;
}

.head {
    background-color: var(--primary-color);
    border-radius: 5px;
    height: 60px;
}

.hot {
    text-align: center;
    font-family:cursive;
    font-size: 36px;
    color: #fff;
    position: relative;
    top: 6px;
}

.subscription {
    text-align: center;
}

.subscription h2 {
    padding: 18px 0;
    background-color: var(--primary-color);
    color: #fff;
}

.subscription p {
    color: var(--primary-color);
    font-size: 18px;
    font-weight: 600;
    margin: 10px 0;
    font-family: monospace;
}

.subscription form {
    background-color: black;
    color: #fff;
    font-size: 30px;
    font-family: cursive;
    height: 2em;
}

.subscription form input {
    width: 360px;
    padding: 10px 0;
    border: none;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
}

.subscription form input:hover {
    background-color: rgb(192, 192, 192);
}

.subscription form button {
    width: 100px;
    padding: 10px 0;
    position: relative;
    left: -10px;
    background-color: var(--primary-color);
    border-radius: 8px;
    color: #fff;
    font-size: 18px;
}

.subscription form button:hover {
    background-color: var(--hover-color);
    cursor: pointer;
    transition: 0.4s;
}

#copyright {
    background-color: black;
    color: #fff;
    font-size: 10px;
    position: relative;
    top: -10px; 
}